<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View material-supplier</title>
</head>
<body>
<h1>View material-supplier</h1>
<a href="/suppliers">Supplier list</a>

<<table border="1">
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Supplier</th>
        <th>Image</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="material : ${materials}">
        <tr>
            <td th:text="${material.name}"></td>
            <td th:text="${material.importDate}"></td>
            <td th:text="${material.description}"></td>
            <td th:text="${material.price}"></td>
            <td th:text="${material.quantity}"></td>
            <td th:text="${material.supplier.name}"></td>
            <td><img th:src="${material.image}"></td>
            <td><a th:href="@{/edit-material/__${material.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-material/__${material.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>