<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View supplier</title>
</head>
<body>
<h1>View supplier: <span th:text="${supplier.name}"></span></h1>
<a href="/provinces">Province list</a>
<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <th:block th:each="material : ${materials}">
        <tr>
            <td th:text="${material.firstName}"></td>
            <td th:text="${material.lastName}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>